<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3> 作る予定リスト (<%= @lists.count %>)</h3>
    </div>
    <% if @lists.present? %>
      <ol class="list">
        <%= render @lists %>
      </ol>
    <% end %>
  </div>
</div>